@charset "utf-8";


$Black: #131B23;
$FlashWhite: #E9F1F7;
$Lapis: #2274A5;
$Pearl: #E7DFC6;
$BtnBlue: #41BBD9;

.Site {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}
.Site-content {
 flex: 1 0 auto;
 padding: var( — space) var( — space) 0;
 width: 100%;
}
.Site-content:after {
 content: ‘\00a0’;
 display: block;
 margin-top: var( — space);
 height: 0;
 visibility: hidden;
}

#CreateAssign, #SignIn, #GradeSubmit, #Back, #Edit {
  background-color: $BtnBlue;
  color: $FlashWhite;
}

.nav-link {
  background-color: $Lapis;
}

#GradeSubmit {
  margin: 30px;
}
.Signup {
margin: 50px;
background-color: $Black;
opacity: 0.9;
padding: 10%;
border-radius: 20px;
color: $FlashWhite;
}

.Login {
  background-color: $Black;
  opacity: 0.9;
  padding: 10%;
  border-radius: 20px;
  color: $FlashWhite;
  
}

 .headerTitle {
  font-family: 'Schoolbell', cursive;
  flex-direction: row;
}

#NavHeader {
  background-color: $Lapis;
  opacity: 0.9;
}

#NavFooter {
  height: 50px;
  background-color: $Lapis;
  opacity: 0.7;
}

//////// FOOTER EDITS ////////
//  position: relative;
//   // bottom: 100vh;
//   // margin-bottom: -50rem;
//   width: 100%;
//////// FOOTER EDITS ////////

#AssignTitle, #AssignDate {
  color: $FlashWhite;
}
#NewAssignment {
  color: $FlashWhite;
}

#StudentName {
  color: $FlashWhite;
}

.viewAssignmentHeader {
  color: $FlashWhite;
}

.AssignmentTable {
  background-color: $FlashWhite !important;
}

#editBtn {
margin: 5px;
border-radius: 20px;
}

#deleteBtn {
  margin: 5px;
  border-radius: 20px;
}

.border {
  margin: 15px;
  opacity: 0.9;
}

.grade-input {
  width: 10%;
}

.SubjectCards {
background-color: $FlashWhite;
border-radius: 20px;
}

.StudentName, #AssName {
  font-weight: 500;
  background-color: $Black;
  opacity: 0.95;
  color: $BtnBlue;
  border-radius: 5px;
}

body {
  font-family: 'PT Sans', sans-serif;
  background: -webkit-linear-gradient( transparentize($Black, 0.90),
  transparentize($Black, 0.90)),
  url('/img/Books.jpg') repeat;
  background-position: 0 auto;
  background-size: 0/50% auto;
  height: 350px;
}