@charset "UTF-8";
.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.Site-content {
  flex: 1 0 auto;
  padding: var(— space) var(— space) 0;
  width: 100%; }

.Site-content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var(— space);
  height: 0;
  visibility: hidden; }

#CreateAssign, #SignIn, #GradeSubmit, #Back, #Edit {
  background-color: #41BBD9;
  color: #E9F1F7; }

.nav-link {
  background-color: #2274A5; }

#GradeSubmit {
  margin: 30px; }

.Signup {
  margin: 50px;
  background-color: #131B23;
  opacity: 0.9;
  padding: 10%;
  border-radius: 20px;
  color: #E9F1F7; }

.Login {
  background-color: #131B23;
  opacity: 0.9;
  padding: 10%;
  border-radius: 20px;
  color: #E9F1F7; }

.headerTitle {
  font-family: 'Schoolbell', cursive;
  flex-direction: row; }

#NavHeader {
  background-color: #2274A5;
  opacity: 0.9; }

#NavFooter {
  height: 50px;
  background-color: #2274A5;
  opacity: 0.7; }

#AssignTitle, #AssignDate {
  color: #E9F1F7; }

#NewAssignment {
  color: #E9F1F7; }

#StudentName {
  color: #E9F1F7; }

.viewAssignmentHeader {
  color: #E9F1F7; }

.AssignmentTable {
  background-color: #E9F1F7 !important; }

#editBtn {
  margin: 5px;
  border-radius: 20px; }

#deleteBtn {
  margin: 5px;
  border-radius: 20px; }

.border {
  margin: 15px;
  opacity: 0.9; }

.grade-input {
  width: 10%; }

.SubjectCards {
  background-color: #E9F1F7;
  border-radius: 20px; }

.StudentName, #AssName {
  font-weight: 500;
  background-color: #131B23;
  opacity: 0.95;
  color: #41BBD9;
  border-radius: 5px; }

body {
  font-family: 'PT Sans', sans-serif;
  background: -webkit-linear-gradient(rgba(19, 27, 35, 0.1), rgba(19, 27, 35, 0.1)), url("/img/Books.jpg") repeat;
  background-position: 0 auto;
  background-size: 0/50% auto;
  height: 350px; }
