#CreateAssign, #SignIn {
  background-color: #41BBD9;
  color: #E9F1F7; }

.Login {
  background-color: #131B23;
  opacity: 0.8;
  padding: 10%;
  border-radius: 20px;
  color: #E9F1F7; }

#headerTitle {
  font-family: 'Schoolbell', cursive;
  color: #E9F1F7; }

#NavHeader {
  background-color: #2274A5;
  opacity: 0.8; }

#NavFooter {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2274A5;
  opacity: 0.7; }

#editBtn {
  margin: 5px;
  border-radius: 20px; }

#deleteBtn {
  margin: 5px;
  border-radius: 20px; }

.border-dark {
  margin: 15px; }

.grade-input {
  width: 10%; }

.SubjectCards {
  background-color: #E9F1F7;
  border-radius: 20px; }

body {
  font-family: 'PT Sans', sans-serif;
  background: -webkit-linear-gradient(rgba(19, 27, 35, 0.5), rgba(19, 27, 35, 0.5)), url("/img/Books.jpg") repeat;
  background-position: 0 auto;
  background-size: 0/50% auto;
  height: 350px; }
