#NavFooter {
  height: 50px; }

#editBtn {
  margin: 5px;
  border-radius: 20px; }

#deleteBtn {
  margin: 5px;
  border-radius: 20px; }

.border-dark {
  margin: 15px; }

.grade-input {
  width: 10%; }
